
<div class="change">
	   <ion-header-bar class="bar-positive align-title="center">
	   	<div class="button button-clear">
	   		<i class="icon ion-ios-arrow-left"></i>
	   	</div>
	   	<div class="title titl">找回密码</div>
	   </ion-header-bar>

	   	<form class="input-list">
	      	<div class="item-bor">
	      		<input type="text" name="" placeholder="请输入手机号码" />
	      		<div class="code">获取验证码</div>
	      	</div>
	      	<div class="item-bor">
	      		<input type="text" name="" placeholder="请输入验证码" />
	      	</div>
	      	<div class="item-bor">
	      		<input type="text" name="" placeholder="请输入密码" />
	      	</div>
	      	<div class="item-bor">
	      		<input type="text" name="" placeholder="确认输入密码" />
	      	</div>
	      	<span class="bnt">确定</span>
	   </form>

</div>
