
<div class="estimate_publi">
	<ion-header-bar class=" align-title=center bar-positive">
	   	<div class="button button-clear">
	   		<i class="icon ion-ios-arrow-left"></i>
	   	</div>
	   	<div class="title titl">发表评价</div>
	</ion-header-bar>
	<ion-content>
		<div class="goods row">
			<div class="col-33">
				<div class="goods_img">
					<img src="./images/estimate-img.jpg" />
				</div>
			</div>
			<div class="col-66 good_content">
				<h4>{包邮}方形米色绗绣磨砂皮革汽车脚垫</h4>
				<span class="price"><i>￥</i>259</span>
			</div>
		</div>
		<div class="esti_class row">
			<div class="col">
				<span class="">
					<i></i>
					好评
				</span>
			</div>
			<div class="col">
				<span class="active">
					<i></i>
					中评
				</span>
			</div>
			<div class="col">
				<span class="">
					<i></i>
					差评
				</span>
			</div>
		</div>
		<div class="star">
			<div>物流服务
				<span class="stars">
					<span><i class="icon ion-android-star-outline sta"></i></span>
					<span><i class="icon ion-android-star-outline sta"></i></span>
					<span><i class="icon ion-android-star-outline sta"></i></span>
					<span><i class="icon ion-android-star-outline sta"></i></span>
					<span><i class="icon ion-android-star-outline sta"></i></span>
				</span>
			</div>
			<div>描述相符
				<span class="stars">
					<span><i class="icon ion-android-star-outline sta"></i></span>
					<span><i class="icon ion-android-star-outline sta"></i></span>
					<span><i class="icon ion-android-star-outline sta"></i></span>
					<span><i class="icon ion-android-star-outline sta"></i></span>
					<span><i class="icon ion-android-star-outline sta"></i></span>
				</span>
			</div>
			<div>物流速度
				<span class="stars">
					<span><i class="icon ion-android-star-outline sta"></i></span>
					<span><i class="icon ion-android-star-outline sta"></i></span>
					<span><i class="icon ion-android-star-outline sta"></i></span>
					<span><i class="icon ion-android-star-outline sta"></i></span>
					<span><i class="icon ion-android-star-outline sta"></i></span>
				</span>
			</div>
		</div>
		<div class="esti">
			<textarea class="text1" rows="4" cols="50" placeholder="亲，你的评价对其他买家有很大帮助.">
			</textarea>
		</div>
		<div class="row contro">
			<div class="col-50 con-one">
				<div class="con-bnt">上传图片</div class="button">
				<span class="con-num">限5张</span>
			</div>
			<div class="col-50 con-two">
				<div class="con-sel"><input type="checkbox" name=""> 公开</div>
				<div class="con-sel1"><input type="checkbox" name=""> 匿名</div>
			</div>
		</div>
		<div class="button bnt">提交评论</div>
	</ion-content>
</div>	
</body>
