
<div class="common">
	<ion-header-bar class=" align-title=center bar-positive">
	   	<div class="button button-clear">
	   		<i class="icon ion-ios-arrow-left"></i>
	   	</div>
	   	<div class="title titl">通 用</div>
	</ion-header-bar>
	<div class="lis">
		<ion-list>
			<ion-item class="item-toggle">
			     开启位置服务
			     <label class="toggle toggle-calm">
			       <input type="checkbox">
			       <div class="track">
			         <div class="handle"></div>
			       </div>
			     </label>
			</ion-item>
		</ion-list>
		<ion-list>
			<ion-item class="item-toggle">
			     开启首页摇一摇
			     <label class="toggle toggle-balanced">
			       <input type="checkbox">
			       <div class="track">
			         <div class="handle"></div>
			       </div>
			     </label>
			</ion-item>
		</ion-list>
		<ion-list>
			<ion-item class="item-toggle">
			     WIFI自动播放视频
			     <label class="toggle toggle-assertive">
			       <input type="checkbox">
			       <div class="track">
			         <div class="handle"></div>
			       </div>
			     </label>
			</ion-item>
		</ion-list>
		<ion-list>
			<ion-item class="item-toggle">
			     清除缓存
			     <label class="toggle toggle-royal">
			       <input type="checkbox">
			       <div class="track">
			         <div class="handle"></div>
			       </div>
			     </label>
			</ion-item>
		</ion-list>
	</div>
</div>	
