
<div class="return_request">
	<ion-header-bar class=" align-title=center bar-positive">
	   	<div class="button button-clear">
	   		<i class="icon ion-ios-arrow-left"></i>
	   	</div>
	   	<div class="title titl">退货申请</div>
	</ion-header-bar>
	<ion-content>
		<div class="list">
			<div class="item">
				<span><i>订单号：</i>1624875620138326</span>
				<span class="r">已收货</span>
			</div>
		</div>
		<div class="goods row">
			<div class="col-33">
				<div class="goods_img">
					<img src="./images/estimate-img.jpg" />
				</div>
			</div>
			<div class="col-66 good_content">
				<h4>热压汽车脚垫</h4>
				<span class="date"><i>订单时间&nbsp;&nbsp;&nbsp;</i>2017-04-19</span>
				<span class="date">
					<span><i>数量&nbsp;&nbsp;&nbsp;</i>1</span>
					<span class="pri">
						<i>单价&nbsp;</i>
						<span class="price"><i>￥</i>299</span>
					</span>
				</span>
			</div>
		</div>
		<div class="selcet row">
			<div class="col-50">
				<div class="pay">实际付款 <span class="price"><i>￥</i>299.00</span></div>
				<div class="nums">
					<span class="numb">退款数量</span>
					<span class="num">
	          	  	 	<span class="rece ion-android-remove"></span>
	          	  	 	<span class="num-show">1</span>
	          	  	 	<span class="add ion-android-add"></span>
	          	  	</span>
				</div>
			</div>
			<div class="col-50 upimg">
				<span class="sel-img">选择图片</span>
				<div class="button bnt-img">上传图片</div>
			</div>
		</div>
		<div class="esti">
			<textarea class="text1" rows="10" cols="50" placeholder="原因说明">
			</textarea>
			<span class="tip">温馨提示：退款金额以实际支付金额为准，邮费、关税和使用的
          优惠券不予退还</span>
          <span class="prices r">退款金额
          		<span class="price"><i>￥</i>299.00</span>
          </span>
		</div>
		<div class="but">
			<div class="button sub">提交</div>
			<div class="button close">关闭</div>
		</div>
	</ion-content>
</div>
