
<div class="privacy_set">
	<ion-header-bar class="bar-positive align-title="center">
   	<div class="button button-clear">
   		<i class="icon ion-ios-arrow-left"></i>
   	</div>
   	<div class="title titl">隐私设置</div>
	</ion-header-bar>
	<ion-content>
		<ion-list>
			<ion-checkbox>
			    允许通过手机号码找到我
			    <!-- <span>
			    	关闭后，其他用户将不能通过手机号搜索到你，你也不会
                    出现在其他人的手机
                </span> -->
			</ion-checkbox>
			<ion-checkbox>
			    允许通过会员名搜索到我
			    <!-- <span>
			    	关闭后，其他用户将不能通过会员名搜索到你
                </span> -->
			</ion-checkbox>
		</ion-list>
	</ion-content>
</div>
